<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- 定义一个叫duke的魔术师 -->
	<bean id="duke" class="sia2.bean.Juggler">
		<constructor-arg value="15"/>
	</bean>
	
	<!-- 定义一个会朗诵诗歌的魔术师，构造类时装配 -->
	<bean id="duka" class="sia2.bean.PoeticJuggler" autowire="constructor">
	    <constructor-arg ref="sonnet29" />
	</bean>
    <bean id="sonnet29" class="sia2.bean.Sonnet29" />
    
    
</beans>
